@{
    Layout = "_Layout";
}

<section id="@ViewData["Title"]">
    <h1 class="display-4 mb-5 text-center">@ViewData["Title"]</h1>
    <div class="row gap-4">
        @RenderBody()
    </div>
</section>