@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<section id="hero">
    <img src="https://pizzium.com/wp-content/uploads/elementor/thumbs/banner-homepage-pjfyfn2lqec4al35lrajz57jmcosnp51ttkjo78th6.png" title="" alt="Margherita Pizzium">
</section>

